<store-list>
    <h3>{ message }</h3>

    <ul>
        <li each={ tech in techs }>
            { tech.name }
        </li>
    </ul>

    <script>
        export default {
            message: 'Store',
            techs: [
                {name: 'お知らせ1'},
                {name: 'お知らせ2'},
                {name: 'お知らせ3'}
            ]
        }

    </script>

</store-list>