<app-header>

  <notice-list></notice-list>

  <script>
    import NoticeList from './notice/notice-list.riot'

    export default {
      components: {
        NoticeList
      }
    }
  </script>

  <style>
    .secondary.pointing.menu {
      border: none;
    }
  </style>
</app-header>