<app-header>
    <div class="ui secondary pointing menu">
        <h4 class="item">
            最新のお知らせ3件
        </h4>
    </div>

    <style>
        .secondary.pointing.menu {
            border: none;
        }
    </style>
</app-header>