<login>
    <router>

        <nav>
            <ul>
                <li><a href="/contact-list">contact-list</a></li>
            </ul>
        </nav>

        <route path="/contact-list">
            contact-list
            <contact-list></contact-list>
        </route>

    </router>
</login>