<logo>
    <div class="item sidebar-head">
        <a class="logo icon" href="/">
            <i class="user icon"></i>
        </a>
        <a href="/">
            ADMIN
        </a>
    </div>

</logo>