<welcome>
    <router>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>

        <route path="/">
            <home></home>
        </route>
        <route path="/login">
            <login></login>
        </route>

    </router>

</welcome>