<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Example</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Example</h1>
        <p>sample</p>
        <hr />
    </div>
    <table class="table">
        <thead>
        <tr>
            <td>テーブル要素</td>
        </tr>
        </thead>
    </table>
    <footer class="footer">
        <hr />
        <p>フッター</p>
    </footer>
</div>
</body>
</html>